Prepared by Yiqi Fu, Ricardo Lu and prof Yilu Zhou.


Welcome to Demo 4! By generating the summary for all the sales in New York, this demo will cover <b> 3 topics </b>:
 
 1. read csv 
 2. pandas dataframe 
 3. for loop
 4. coding diff: human vs GenAI
 
for the installation of pandas package, please read: https://pandas.pydata.org/docs/getting_started/install.html

In [ ]:
# import pandas library
import pandas as pd

# read the csv file
online_orders = pd.read_csv("online_orders.csv")
online_orders.head(10)

         DATE   TIME            CITY              CATEGORY  AMOUNT     PAYMENT
0  2012-01-01  09:00        San Jose        Men's Clothing  214.05        Amex
1  2012-01-01  09:00      Fort Worth      Women's Clothing  153.57        Visa
2  2012-01-01  09:00       San Diego                 Music   66.08        Cash
3  2012-01-01  09:00      Pittsburgh          Pet Supplies  493.51    Discover
4  2012-01-01  09:00           Omaha   Children's Clothing  235.63  MasterCard
5  2012-01-01  09:00        Stockton        Men's Clothing  247.18  MasterCard
6  2012-01-01  09:00          Austin               Cameras  379.60        Visa
7  2012-01-01  09:00        New York  Consumer Electronics  296.80        Cash
8  2012-01-01  09:00  Corpus Christi                  Toys   25.38    Discover
9  2012-01-01  09:00      Fort Worth                  Toys  213.88        Visa

In [2]:
# one of the method to analyze dataframe is to make them into a list/ lists;
# I will make each row as a list for this demo purpose

order_lists = online_orders.values.tolist()

In [4]:
# Human coded solution

# assign a starting number 0 to total
total = 0

# for loop is used for iterating over a sequence
# this for loop let row value to iterating over a list
for row in order_lists:
    
    # index 2 refers to the value in the city column in each row
    # remember python index starts at 0
    city = row[2]
    
    # since some csv has blank spaces in its values, is it safer to use 'New York' in city than city == 'New York' 
    if 'New York' in city:
        # index 4 refers to the value in the price column in each row
        price = float(row[4])
        
        total = total + price
        
        print('Order amount: $', row[4],'running total: $', round((total), 2))
        
print('\nTotal price of online orders in New York is $', total)

Order amount: $ 296.8 running total: $ 296.8
Order amount: $ 18.27 running total: $ 315.07
Order amount: $ 153.84 running total: $ 468.91
Order amount: $ 326.88 running total: $ 795.79
Order amount: $ 257.19 running total: $ 1052.98
Order amount: $ 301.4 running total: $ 1354.38
Order amount: $ 117.98 running total: $ 1472.36
Order amount: $ 233.51 running total: $ 1705.87
Order amount: $ 32.81 running total: $ 1738.68
Order amount: $ 383.34 running total: $ 2122.02
Order amount: $ 233.51 running total: $ 2355.53

Total price of online orders in New York is $ 2355.5299999999997

In [ ]:
# AI generated code example
# There is no short cut for learning!

# 1. Auto-complete
import pandas as pd

# Load the 'online_orders.csv' file into a pandas DataFrame for analysis
online_orders = pd.read_csv("online_orders.csv")

# Display the first 10 rows of the dataframe to inspect the data structure
print(online_orders.head(10))



# 2. AI inline 
# Prompts: given the list of online orders, print total amount for all rows, total amount for New York rows, and running total for New York rows
# Total amount for all rows
total_all = online_orders['AMOUNT'].sum()
print(f"Total amount for all rows: {total_all}")

# Total amount for New York rows
ny_orders = online_orders[online_orders['CITY'] == 'New York'].copy()
total_ny = ny_orders['AMOUNT'].sum()
print(f"Total amount for New York rows: {total_ny}")

# Running total for New York rows
ny_orders['RUNNING_TOTAL'] = ny_orders['AMOUNT'].cumsum()
print("Running total for New York rows:")
print(ny_orders[['CITY', 'AMOUNT', 'RUNNING_TOTAL']])


# 3. AI agent coding, command/ctrl + L, then type the following prompt:
# Prompts: load a file online_orders.csv to a dataframe, given the list of online orders, print total amount for all rows, total amount for New York rows, and running total for New York rows
# Constraints: use pandas library
# Assumptions: the column names are 'CITY' and 'AMOUNT'

In [6]:
print(order_lists[0])

['2012-01-01', '09:00', 'San Jose', "Men's Clothing", 214.05, 'Amex']

There are many approaches to get a column sum in a dataframe with one filter applied; Feel free to try your method out!